


<table id="miTabla" class="display" style="width:100%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Age</th>
      <th>Role</th>
      <th>Select new Role</th>
      <th>Modify role</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {{#each Users}}
      <tr>
        <td>{{this.first_name}} {{last_name}}</td>
        <td>{{this.email}}</td>
        <td>{{this.age}}</td>
        <td>{{this.role}}</td>
         <td>
          <!-- Agregar un formulario para cada usuario -->
          <form class="col-lg-12 rolForm">
            <div class="form-outline mb-4">
              <select class="col-lg-12 form-select center my-2 roleSelect">
                <option value="premium" class="col-lg-12 center">Premium</option>
                <option value="user">User</option>
              </select>
            </div>
          </form>
        </td>
        <td>
          <!-- Agregar el botón de actualización dentro del formulario -->
          <button type="submit" class="col-lg-12 btn btn-info center my-2 changeRol" data-user-id="{{this._id}}">
            <i class="fa-regular fa-circle-up"></i> Update
          </button>
        </td>
        <td>
          {{! <a href=""> }}
          <button
            class="col-lg-12 btn btn-danger center my-2 deleteUser"
            id="{{this._id}}">
            <i class="fa fa-trash"></i> Delete
            </button>
          {{! </a> }}
        </td>

      </tr>
    {{/each}}

  </tbody>
  <tfoot>
<div class="col-lg-12  d-flex justify-content-center">

  <a href="/" type="button" class=" col-lg-2  btn btn-warning mt-4 ">
    HOME
  </a>
</div>
  </tfoot>
</table>

<script src="js/dataTable.js"></script>
<script src="js/deleteUser.js"></script>
<script src="js/changeRolAdmin.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script
  type="text/javascript"
  charset="utf8"
  src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"
></script>

<!-- Inicializa DataTables -->