<div>
    <p>
{{allCarts}}

    {{#each allCarts}}
        {{@key}} : {{this.id}}
        
        {{#each products }} 
        <p>
            {{@key}} : {{this}}
        </p>       
        {{/each}}
      
   
    {{/each}}
    </p>
</div>