<div class="container">
<div class="row card shadow m-5">
    <h1>{{user.name}} </h1>
    <p>Correo: {{user.email}} </p>
</div>
  <div class="row mx-3">
    <h1 class="col-12 text-center" id="h1">PRODUCTS</h1>

    {{#each allProducts}}
      <div class="col-3 card shadow center m-5">

        <h2 class="text-center" style="color:red"> Product:{{this.title}}</h2>
        <ul class="list-group list-group-flush">
          
          <li class="list-group-item"> description : {{this.description}}</li>
          <li class="list-group-item"> price : {{this.price}}</li>
          <li class="list-group-item"> thumbnail : {{this.thumbnail}}</li>
          <li class="list-group-item"> code : {{this.code}}</li>
          <li class="list-group-item"> stock : {{this.stock}}</li>
          <li class="list-group-item"> id: {{this.id}}</li>
        </ul>

      </div>
      

    {{/each}}
    {{#if hasPrevPage}}
    <a href="/products?page={{prevPage}}"><button>Anterior</button></a>
    
    {{/if}}


    {{page}}

    {{#if hasNextPage}}
    <a href="/products?page={{nextPage}}"><button>Siguiente</button></a>
    
    {{/if}}

  </div>

  {{!-- <div class="col-6">
    {{#each productLimit}}
      <ol>
        <li> title : {{this.title}}</li>
        <li> description : {{this.description}}</li>
        <li> price : {{this.price}}</li>
        <li> thumbnail : {{this.thumbnail}}</li>
        <li> code : {{this.code}}</li>
        <li> stock : {{this.stock}}</li>
        <li> id : {{this.id}}</li>
      </ol>

    {{/each}}

  </div> --}}
  {{!-- <div>
    {{#each productsM}}
      <divclass="col-3 card shadow center m-3">
        <p>
          {{this.title}}
        </p>
        <p>
          {{this.price}}
        </p>
      </div>
    {{/each}}
  </div> --}}
  {{!-- <div>

  <ol>
    <li> Title : {{productid.title}}</li>
    <li> Description : {{productid.description}}</li>
    <li> Price : {{productid.price}}</li>
    <li> Thumbnail : {{productid.thumbnail}}</li>
    <li> Code : {{productid.code}}</li>
    <li> Stock : {{productid.stock}}</li>
    <li> Id : {{productid.id}}</li>
  </ol>

</div> --}}

  <div>
    <h2 style="color: red">{{error}}</h2>
  </div>

  <script src="../public/js/products.js"></script>
</div>