<!-- Topbar Start -->
<div class="container-fluid my-3">
  <div class="container-fluid my-3 ">



    <div class="row align-items-center bg-light py-3">
      <div class="col-lg-4">
        <a href="/" class="text-decoration-none">
          <span class="h1 text-uppercase text-primary bg-dark px-2">MK</span>
          <span class="h1 text-uppercase text-dark bg-primary px-2 ml-n1">Rock</span>
        </a>
      </div>

      {{#unless user}}
      <div class="col-lg-4 me-5 mt-3">
        <div class="btn-group">
          <button type="button" class="h1 text-uppercase text-primary bg-dark px-2 btn btn-sm btn-light dropdown-toggle"
            data-toggle="dropdown">My Account</button>
          <div class="dropdown-menu dropdown-menu-right">
            <a href="/login"><button class="dropdown-item" type="button">Sign in</button></a>
            <a href="/register"><button class="dropdown-item" type="button">Register</button>
            </a>
          </div>
        </div>
      </div>
      {{/unless}}
      <!-- Profile-->
      {{#if user}}
      <div class="col-lg-4 col-md-12  text-center py-3 py-lg-0 px-0 ">
        <div class="row shadow m-5">
          <h6>{{user.name}}</h6>

          <h7>Correo: {{user.email}} </h7>
          {{#ifRoleIsPremiumOrUser user.role }}
          <div class="col-lg-12">
            <h8 class="col-lg-12 col-12">Role : {{user.role}} </h8>
            <a href="/changeRol">

              <button class="col-lg-4 btn btn-info center my-2 changesRol">Cambiar role</button>
            </a>
          </div>
          <div class="col-lg-6">
            <a href="/cartsID" class="btn col-lg-4">
              <i class="fas fa-shopping-cart text-primary fa-2x" style="font-size:30px"></i>
              <p class="small fw-bold mt-2 pt-1 mb-0">Your cart</p>
            </a>
          </div>
          {{/ifRoleIsPremiumOrUser}}
          {{#ifRoleIsPremiumOrAdmin user.role}}
          <div class="col-lg-6">
            <a href="/createProducts" class="btn">
              <i class="fa-brands fa-product-hunt text-primary fa-2x" style="font-size:30px"></i>
              <p class="small fw-bold mt-2 pt-1 mb-0">create product</p>
            </a>

          </div>
          {{/ifRoleIsPremiumOrAdmin}}

          <div class="col-lg-12">
            <a href="/ticketId">

              <button class="col-lg-12 btn btn-info center my-2 logoutContainer"><i
                  class="fa-regular fa-paste"></i>Tickets
                History</button>
            </a>
          </div>

          {{#ifRoleAdmin user.role}}
          <div class="col-lg-12">
            <a href="/admin">

              <button class="col-lg-12 btn btn-success center my-2 logoutContainer"><i
                  class="fa-regular fa-paste"></i>Admin
                panel</button>
            </a>

          </div>
          {{/ifRoleAdmin}}
          <div class="col-lg-12">
            <button class="col-lg-12 btn btn-warning center my-2 logoutContainer" id="loguotButton"><i
                class="fa-solid fa-arrow-right-from-bracket">Logout</i>
            </button>
          </div>
        </div>
      </div>

      {{/if}}
    </div>
  </div>

  <!-- Profile End -->
  <!-- Navbar Start -->
  <div class="container-fluid bg-dark mb-30">
    <div class="row px-xl-5">
      <div class="col-lg-3 d-none d-lg-block">
        <a class="btn d-flex align-items-center justify-content-between bg-primary w-100" data-toggle="collapse"
          href="#navbar-vertical" style="height: 65px; padding: 0 30px;">
          <h6 class="text-dark m-0"><i class="fa fa-bars mr-2"></i>Categories</h6>
          <i class="fa fa-angle-down text-dark"></i>
        </a>
        <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 bg-light"
          id="navbar-vertical" style="width: calc(100% - 30px); z-index: 999;">
          <div class="navbar-nav w-100">

            <a href="" class="nav-item nav-link">Shirts</a>
            <a href="" class="nav-item nav-link">Jeans</a>

          </div>
        </nav>
      </div>
      <div class="col-lg-9">
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-0">

          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav mr-auto py-0">
              <a href="/" class="nav-item nav-link">Home</a>
              <a href="/products" class="nav-item nav-link active">Shop</a>
              {{! <a href="detail.html" class="nav-item nav-link">Shop Detail</a> }}
              <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages <i
                    class="fa fa-angle-down mt-1"></i></a>
                <div class="dropdown-menu bg-primary rounded-0 border-0 m-0">
                  <a href="/cartsID" class="dropdown-item">Shopping Cart</a>
                
                </div>
              </div>
              
            </div>

          </div>
        </nav>
      </div>
    </div>
  </div>
  <!-- Navbar End -->



  <!-- Shop Start -->
  <div class="container-fluid">
    <div class="row px-xl-5">

      <!-- Shop Product Start -->
      <div class="col-lg-9 col-md-8">
        <div class="row pb-3">

          {{#ifRoleAdmin user.role}}
          {{#each allProducts }}


          <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
            <div class="product-item bg-light mb-4">
              <div class="product-img position-relative overflow-hidden">

                <img class="img-fluid" src="{{this.thumbnail}}" alt="Products" />
                <div class="product-action">

                </div>
              </div>
              <div class="text-center py-4"></div>

              <div class="text-center py-4">
                <h4>{{this.title}} {{this.description}} </h4>
                <div class="d-flex align-items-center justify-content-center mt-2">
                  <h6>${{this.price}}</h6>
                </div>
                <div class="d-flex align-items-center justify-content-center mt-2">
                  <h7>Stock: {{this.stock}}</h7>
                </div>
                <div class="d-flex align-items-center justify-content-center mt-2">
                  <h7>Tienda: {{this.owner}}</h7>
                </div>
                <div class="text-center m-3">
                  <button class="btn btn-warning" id="{{this.id}}">
                    <i class="fa fa-shopping-cart"></i>
                    Add product in Cart
                  </button>
                </div>

                <div class="text-richt m-3">
                  <button class="btn btn-danger deleteProd" id="{{this.id}}">
                    <i class="fa fa-trash"></i> Delete
                  </button>
                </div>

                <div class="d-flex align-items-center justify-content-center mb-1">
                  <small class="fa fa-star text-primary mr-1"></small>
                  <small class="fa fa-star text-primary mr-1"></small>
                  <small class="fa fa-star text-primary mr-1"></small>
                  <small class="fa fa-star text-primary mr-1"></small>
                  <small class="fa fa-star-half-alt text-primary mr-1"></small>
                  <small>(99)</small>
                </div>
              </div>
            </div>
          </div>

          {{/each}}
          {{/ifRoleAdmin}}
          {{#ifRoleIsPremiumOrUser user.role }}
          {{#each allProducts }}


          <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
            <div class="product-item bg-light mb-4">
              <div class="product-img position-relative overflow-hidden">

                <img class="img-fluid" src="{{this.thumbnail}}" alt="Products" />
                <div class="product-action">

                </div>
              </div>
              <div class="text-center py-4"></div>

              <div class="text-center py-4">
                <h4>{{this.title}} {{this.description}} </h4>
                <div class="d-flex align-items-center justify-content-center mt-2">
                  <h6>${{this.price}}</h6>
                </div>
                <div class="d-flex align-items-center justify-content-center mt-2">
                  <h7>Stock: {{this.stock}}</h7>
                </div>
                <div class="d-flex align-items-center justify-content-center mt-2">
                  <h7>Tienda: {{this.owner}}</h7>
                </div>
                <div class="text-center m-3">
                  <button class="btn btn-warning ButtonProduct" id="{{this.id}}">
                    <i class="fa fa-shopping-cart"></i>
                    Add product in Cart
                  </button>

                </div>


                <div class="d-flex align-items-center justify-content-center mb-1">
                  <small class="fa fa-star text-primary mr-1"></small>
                  <small class="fa fa-star text-primary mr-1"></small>
                  <small class="fa fa-star text-primary mr-1"></small>
                  <small class="fa fa-star text-primary mr-1"></small>
                  <small class="fa fa-star-half-alt text-primary mr-1"></small>
                  <small>(99)</small>
                </div>
              </div>
            </div>
          </div>

          {{/each}}
          {{/ifRoleIsPremiumOrUser}}



          <div>
            <ul class="pagination justify-content-center">
              {{#if hasPrevPage}}
              <li class="page-item active"><a class="page-link" href="/products?page={{prevPage}}">Previous</a></li>
              {{else}}
              <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
              {{/if}}
              <li class="page-item">
                <p class="page-link"> {{page}}</p>
              </li>
              {{#if hasNextPage}}
              <li class="page-item active">
                <a class="page-link" href="/products?page={{nextPage}}">Next</a>
              </li>
              {{else}}
              <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
              {{/if}}

            </ul>
          </div>

        </div>
      </div>
    </div>
    <!-- Shop Product End -->
  </div>

<!-- Shop End -->

<!-- Footer Start -->

<div class="container-fluid bg-dark text-secondary mt-5 pt-5">
  <div class="row px-xl-5 pt-5">
    <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
      <h5 class="text-secondary text-uppercase mb-4">Get In Touch</h5>
      <p class="mb-4">No dolore ipsum accusam no lorem. Invidunt sed clita kasd
        clita et et dolor sed dolor. Rebum tempor no vero est magna amet no</p>
      <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>123
        Street, New York, USA</p>
      <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>info@example.com</p>
      <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+012 345
        67890</p>
    </div>
    <div class="col-lg-8 col-md-12">
      <div class="row">
        <div class="col-md-4 mb-5">
          <h5 class="text-secondary text-uppercase mb-4">Quick Shop</h5>
          <div class="d-flex flex-column justify-content-start">
            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Home</a>
            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Our Shop</a>
            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Shop Detail</a>
            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Checkout</a>
            <a class="text-secondary" href="#"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <h5 class="text-secondary text-uppercase mb-4">My Account</h5>
          <div class="d-flex flex-column justify-content-start">
            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Home</a>
            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Our Shop</a>
            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Shop Detail</a>
            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Checkout</a>
            <a class="text-secondary" href="#"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <h5 class="text-secondary text-uppercase mb-4">Newsletter</h5>
          <p>Duo stet tempor ipsum sit amet magna ipsum tempor est</p>
          <form action="">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Your Email Address" />
              <div class="input-group-append">
                <button class="btn btn-primary">Sign Up</button>
              </div>
            </div>
          </form>
          <h6 class="text-secondary text-uppercase mt-4 mb-3">Follow Us</h6>
          <div class="d-flex">
            <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
            <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
            <a class="btn btn-primary btn-square" href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
    <div class="col-md-6 px-xl-0">
      <p class="mb-md-0 text-center text-md-left text-secondary">
        &copy;
        <a class="text-primary" href="#">Domain</a>. All Rights Reserved.
        Designed by
        <a class="text-primary" href="https://htmlcodex.com">HTML Codex</a>
        <br />Distributed By:
        <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
      </p>
    </div>
    <div class="col-md-6 px-xl-0 text-center text-md-right">
      <img class="img-fluid" src="img/payments.png" alt="" />
    </div>
  </div>
</div>
</div>
<!-- Footer End -->

<!-- Back to Top -->
<a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>

<!-- JavaScript Libraries -->

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Template Javascript -->
<script src="js/main.js"></script>
<script src="js/addCart.js"></script>
<script src="js/logout.js"></script>
<script src="js/deleteProduct.js"></script>